name: Rust Build Test

on:
  push:
    branches: [ main ]
    paths:
    - 'rustserver/'
  pull_request:
    branches: [ main ]
    paths:
    - 'rustserver/'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - name: Build Project
        run: cd rustserver && cargo build --release

      - name: Test Project
        run: cd rustserver && cargo test
